@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pathway+Gothic+One&display=swap');

.App {
  text-align: center;
}

body{
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiAppBar-root{
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  /*background-color: #f0e68c!important;*/
  background-color: #0d0d0d!important;
  position: fixed!important;
  top: 10px;
  left: 0;
  bottom: auto!important;
}

.makeStyles-title-3{
  font-family: 'Kaushan Script', cursive !important;
  font-size: 22px;
  margin-left: 20px!important;
  display: flex;
  align-items: center;
  color: #f0e68c!important;
}

@import './views/styles.css';
